/* ------------------------------------------------------------ *\
	Includes
\* ------------------------------------------------------------ */

@import './partials/reset.css';

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { overflow-x: hidden; height: 100vh; padding: 20px 40px; font-family: 'PT Sans', sans-serif; font-size: 14px; background: url(images/background.jpg) no-repeat; background-size: cover; background-position: 50% 80%; background-attachment: fixed; color: #f9f9f9; }

body.load .loader { visibility: visible; opacity: 1; }

/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */

.tabs { display: flex; justify-content: center; align-items: center; margin-bottom: 20px; }

.tabs__head { display: flex; justify-content: center; align-items: center; margin-bottom: 30px; font-size: 25px; }
.tabs__body { overflow: hidden; display: flex; justify-content: center; border-radius: 20px; margin-bottom: 50px; text-transform: capitalize; }

/* ------------------------------------------------------------ *\
	Tab
\* ------------------------------------------------------------ */

.tab { flex: 0 0 100%; transform: translateX(-50%); opacity: .2; pointer-events: none; transition: transform .3s, opacity .3s; }
.tab + .tab { transform: translateX(-50%); }

.tab.active { opacity: 1; pointer-events: auto; }

.tab.active:first-child { transform: translateX(50%); }
.tab.active:first-child + .tab { transform: translateX(50%); }

.tab__list { display: flex; flex-wrap: wrap; justify-content: center; margin: 0 -5px -10px; list-style: none; }
.tab__list li { flex: 0 1 33.33%; padding: 0 5px 10px; }

/* ------------------------------------------------------------ *\
	Checkbox
\* ------------------------------------------------------------ */

.checkbox { height: 100%; }

.checkbox label { position: relative; display: flex; justify-content: center; align-items: center; height: 100%; padding-left: 18px; padding: 8px 5px 28px; background: #fff; font-size: 15px; color: #000; text-align: center; transition: background .3s; user-select: none; }

.checkbox label:before { content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 20px; border-top: 1px solid #ffbfbf; background: #fff; transition: background .3s, border-color .3s; }
.checkbox label:after { content: 'Add'; position: absolute; left: 50%; bottom: 3px; transform: translateX(-50%); font-size: 12px; font-style: italic; }

.checkbox input { position: absolute; z-index: -1; opacity: 0; }

.checkbox input:checked + label,
.checkbox input:checked + label:before { background: #ffbfbf; border-color: #fff; }

.checkbox input:checked + label:after { content: 'Remove'; }

/* ------------------------------------------------------------ *\
	Radio
\* ------------------------------------------------------------ */

.radio { position: relative; margin: 0 20px; } 

.radio input { position: absolute; z-index: -1; opacity: 0; }
.radio label { position: relative; display: inline-block; padding-bottom: 5px; text-align: center; user-select: none; }
.radio label:before { content: ''; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; width: 0; height: 5px; border-radius: 10px; background: #d4d4d4; transition: width .3s; }
.radio input:checked + label:before { width: 110%; }

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: block; width: 80%; margin: 0 auto; padding: 10px; border-radius: 30px; background: #fff; font-size: 16px; color: #000; text-decoration: none; text-align: center; transition: .3s; }
.btn:hover { background: #d4d4d4; }

/* ------------------------------------------------------------ *\
	Loader
\* ------------------------------------------------------------ */

.loader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; visibility: hidden; display: flex; justify-content: center; align-items: center; background: #fff; opacity: 0; transition: visibility .3s, opacity .3s; }

/* ------------------------------------------------------------ *\
	Spinner
\* ------------------------------------------------------------ */

.sk-cube-grid { width: 40px; height: 40px; margin: 100px auto; }

.sk-cube-grid .sk-cube { width: 33%; height: 33%; background-color: #333; float: left; animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
.sk-cube-grid .sk-cube1 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 { animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 { animation-delay: 0s; }
.sk-cube-grid .sk-cube8 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 { animation-delay: 0.2s; }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
		transform: scale3D(1, 1, 1);
  } 35% {
		transform: scale3D(0, 0, 1);
  } 
}